<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.warecase.mapper.StatisticsRefundMapper">

    <select id="listStatisticsRefund" resultType="statisticsRefund" parameterType="statisticsRefund">
        select name, serial_id, return_id, return_date from statistics_refund
        <where>
            <if test="name != null and name != ''">and name = #{name}</if>
            <if test="serial_id != null and serial_id != ''">and serial_id = #{serialId}</if>
            <if test="return_id != null and return_id != ''">and return_id = #{returnId}</if>
            <if test="return_date != null">and return_date = #{returnDate}</if>
        </where>
        order by return_date desc
    </select>

</mapper>