<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.warecase.mapper.StatisticsMapper">


    <select id="listStatistics" parameterType="statistics" resultType="statistics">
        select p.name as product_name,
               r.return_id,
               u.name as username,
               r.return_date,
               r.serial_id,
               r.return_type,
               p.palletid
            from returndetails r
                left join product p on r.serial_id = p.serial_id
                left join user u on r.userId = u.user_id
        <where>
            <if test="productName != null and productName != ''">and p.name = #{productName}</if>
            <if test="serialId != null and serialId != ''">and r.serial_id = #{serialId}</if>
            <if test="palletid != null and palletid != ''">and p.palletid = #{palletid}</if>
            <if test="returnId != null and returnId != ''">and r.return_id = #{returnId}</if>
            <if test="returnDate != null">and r.returnDate = #{returnDate}</if>
            <if test="username != null and username != ''">and u.name = #{username}</if>
        </where>
        order by r.return_date desc
    </select>

    <select id="listStatisticsRefund" resultType="statistics" parameterType="statistics">
        select product_name, serial_id, palletid, return_id, return_date, username from statistics_refund
        <where>
            <if test="productName != null and productName != ''">and product_name = #{productName}</if>
            <if test="serialId != null and serialId != ''">and serial_id = #{serialId}</if>
            <if test="palletid != null and palletid != ''">and palletid = #{palletid}</if>
            <if test="returnId != null and returnId != ''">and return_id = #{returnId}</if>
            <if test="returnDate != null">and returnDate = #{returnDate}</if>
            <if test="username != null and username != ''">and username = #{username}</if>
        </where>
        order by return_date desc
    </select>

    <select id="listStatisticsRecycle" resultType="statistics" parameterType="statistics">
        select product_name, serial_id, palletid, return_id, return_date, username from statistics_recycle
        <where>
            <if test="productName != null and productName != ''">and product_name = #{productName}</if>
            <if test="serialId != null and serialId != ''">and serial_id = #{serialId}</if>
            <if test="palletid != null and palletid != ''">and palletid = #{palletid}</if>
            <if test="returnId != null and returnId != ''">and return_id = #{returnId}</if>
            <if test="returnDate != null">and returnDate = #{returnDate}</if>
            <if test="username != null and username != ''">and username = #{username}</if>
        </where>
        order by return_date desc
    </select>

    <select id="listStatisticsRepair" resultType="statistics" parameterType="statistics">
        select product_name, serial_id, palletid, return_id, return_date, username from statistics_repair
        <where>
            <if test="productName != null and productName != ''">and product_name = #{productName}</if>
            <if test="serialId != null and serialId != ''">and serial_id = #{serialId}</if>
            <if test="palletid != null and palletid != ''">and palletid = #{palletid}</if>
            <if test="returnId != null and returnId != ''">and return_id = #{returnId}</if>
            <if test="returnDate != null">and returnDate = #{returnDate}</if>
            <if test="username != null and username != ''">and username = #{username}</if>
        </where>
        order by return_date desc
    </select>


</mapper>