<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.warecase.mapper.UserMapper">
    <select id="selectUserByUid" resultType="user">
        select uid,uname,password from user where uid = #{uid}
    </select>
</mapper>