<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.warecase.mapper.UserMapper">

    <select id="listUsers" parameterType="user" resultType="user">
        select user_id, name, permission from user
        <where>
            <if test="userId != null and userId!= ''">
                and user_id = #{userId}
            </if>
            <if test="name != null and name!= ''">
                and name like #{name}
            </if>
            <if test="permission != null and permission!= ''">
                and permission = #{permission}
            </if>
        </where>
    </select>

</mapper>